<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if page.title %} {{ page.title }} | {% endif %} ThinkData Works</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="css/tdw-main.css" />
  <link rel="stylesheet" href="css/tdw-vendor.css" />
  <link rel="stylesheet" href="css/media-queries.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>
  
<body>
  <div class="top-bar-nav">
    <div class="contain-to-grid columns">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="//thinkdataworks.com">ThinkData Works</a></h1>
          </li>
          <li class="toggle-topbar" id="nav-toggle">
            <a href="#"><span></span></a>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><a href="//thinkdataworks.com/consulting.html">Consulting</a></li>
            <li><a href="//thinkdataworks.com/story.html">Story</a></li>
            <li><a href="//thinkdataworks.com/team.html">Team</a></li>
            <li><a href="//blog.thinkdataworks.com">Pulse</a></li>
            <li><a href="//thinkdataworks.com/#contact">Contact</a></li>
            <li><a href="//thinkdataworks.com/careers.html">We're Hiring</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>

	{{ content }}

  <div class="main-footer">
    <div class="row">
      <div class="small-12 small-centered text-center columns liquid">
        <img src="images/footer-logo.svg" alt="ThinkData Works water drop">
        <p class="small-text-center">Making Open Data Liquid</p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 small-centered small-text-center columns">
        <ul class="line">
          <li><a href="//facebook.com/pages/ThinkData-Works/318824841617307" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li class="mobile-footer"><a href="//thinkdataworks.com/consulting.html">Consulting</a></li>
          <li class="mobile-footer"><a href="//thinkdataworks.com/story.html">Story</a></li>
          <li class="mobile-footer"><a href="//thinkdataworks.com/team.html">Team</a></li>
          <li class="mobile-footer"><a href="//blog.thinkdataworks.com">Pulse</a></li>
          <li class="mobile-footer"><a href="//thinkdataworks.com/#contact">Contact</a></li>
          <li><a href="//twitter.com/thinkdataworks" target="_blank"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="small-12 small-centered text-center columns copyright">
        <p class="small-text-center">&copy; 2014 ThinkData Works Inc.</p>
      </div>
    </div>
  </div>
	
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="../js/foundation.min.js"></script>
  <script>
      $(function () {
          $(document).foundation();
      });
  </script>
	<script>
	function getParameterByName(name, url) {
	    if (url == undefined) url = window.location.toString();
	    
	    var query = url.split('?')[1];
	    var param_pairs = query.split('&');
	    var params = {};
	    for (var i=0; i<param_pairs.length; i++) {
	      var kv = param_pairs[i].split('=');
	      params[kv[0]] = kv[1];
	    }
	    return params[name];
	}

	jQuery(function($) {
	  $('a[href*="youtube"]').each(function() {
	    var href = $(this).attr('href');
	    var videoId = getParameterByName('v', href);
	
	    $(this).replaceWith('<div class="flex-video"><iframe src="//www.youtube.com/embed/' + videoId + '?rel=0" frameborder="0" allowfullscreen></iframe></div>');
	  });
	});
	</script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52706248-1', 'auto');
    ga('send', 'pageview');
  </script>
 </body>
</html>
